<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.main">

    <application android:theme="@style/AppTheme">
        <activity android:name="com.example.main.activity.MainActivity" />
        <activity android:name="com.example.main.activity.chat.MainChatActivity" />
        <activity android:name="com.example.main.activity.chat.MainStartC2CChatActivity" />
        <activity android:name="com.example.main.activity.chat.MainStartGroupChatActivity" />
        <activity android:name="com.example.main.activity.contact.MainNewFriendActivity" />
        <activity android:name="com.example.main.activity.contact.MainGroupListActivity" />
        <activity android:name="com.example.main.activity.contact.MainFriendProfileActivity" />
        <activity android:name="com.example.main.activity.contact.MainBlackListActivity" />
    </application>

</manifest>
